@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Comic Sans MS, cursive, sans-serif;
  --font-mono: Courier New, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --font-serif: Georgia, serif;
  --radius: 1.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 1.5rem;
  --background: oklch(0.9892 0.0054 117.9205);
  --foreground: oklch(0.3214 0.0120 150.2987);
  --card: oklch(0.9722 0.0085 128.5584);
  --card-foreground: oklch(0.3214 0.0120 150.2987);
  --popover: oklch(0.9892 0.0054 117.9205);
  --popover-foreground: oklch(0.3214 0.0120 150.2987);
  --primary: oklch(0.7189 0.0559 144.9655);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9068 0.0363 348.9730);
  --secondary-foreground: oklch(0.3716 0.0255 341.7232);
  --muted: oklch(0.9559 0.0114 128.5940);
  --muted-foreground: oklch(0.5626 0.0289 145.1783);
  --accent: oklch(0.9167 0.0250 301.0538);
  --accent-foreground: oklch(0.4005 0.0340 298.5912);
  --destructive: oklch(0.7469 0.1256 20.4874);
  --border: oklch(0.9068 0.0272 127.7629);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.7189 0.0559 144.9655);
  --chart-1: oklch(0.7189 0.0559 144.9655);
  --chart-2: oklch(0.9068 0.0363 348.9730);
  --chart-3: oklch(0.9167 0.0250 301.0538);
  --chart-4: oklch(0.8181 0.0299 145.2954);
  --chart-5: oklch(0.8431 0.0418 322.1690);
  --sidebar: oklch(0.9722 0.0085 128.5584);
  --sidebar-foreground: oklch(0.3214 0.0120 150.2987);
  --sidebar-primary: oklch(0.7189 0.0559 144.9655);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9167 0.0250 301.0538);
  --sidebar-accent-foreground: oklch(0.4005 0.0340 298.5912);
  --sidebar-border: oklch(0.9068 0.0272 127.7629);
  --sidebar-ring: oklch(0.7189 0.0559 144.9655);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: Comic Sans MS, cursive, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Courier New, monospace;
  --shadow-color: rgba(143, 174, 143, 0.4);
  --shadow-opacity: 1;
  --shadow-blur: 12px;
  --shadow-spread: 2px;
  --shadow-offset-x: 6px;
  --shadow-offset-y: 6px;
  --letter-spacing: 0.02em;
  --spacing: 0.25rem;
  --shadow-2xs: 6px 6px 12px 2px hsl(120 16.0622% 62.1569% / 0.50);
  --shadow-xs: 6px 6px 12px 2px hsl(120 16.0622% 62.1569% / 0.50);
  --shadow-sm: 6px 6px 12px 2px hsl(120 16.0622% 62.1569% / 1.00), 6px 1px 2px 1px hsl(120 16.0622% 62.1569% / 1.00);
  --shadow: 6px 6px 12px 2px hsl(120 16.0622% 62.1569% / 1.00), 6px 1px 2px 1px hsl(120 16.0622% 62.1569% / 1.00);
  --shadow-md: 6px 6px 12px 2px hsl(120 16.0622% 62.1569% / 1.00), 6px 2px 4px 1px hsl(120 16.0622% 62.1569% / 1.00);
  --shadow-lg: 6px 6px 12px 2px hsl(120 16.0622% 62.1569% / 1.00), 6px 4px 6px 1px hsl(120 16.0622% 62.1569% / 1.00);
  --shadow-xl: 6px 6px 12px 2px hsl(120 16.0622% 62.1569% / 1.00), 6px 8px 10px 1px hsl(120 16.0622% 62.1569% / 1.00);
  --shadow-2xl: 6px 6px 12px 2px hsl(120 16.0622% 62.1569% / 2.50);
  --tracking-normal: 0.02em;
}

.dark {
  --background: oklch(0.2644 0.0070 145.3736);
  --foreground: oklch(0.9660 0.0068 145.5229);
  --card: oklch(0.3132 0.0134 145.2462);
  --card-foreground: oklch(0.9660 0.0068 145.5229);
  --popover: oklch(0.2644 0.0070 145.3736);
  --popover-foreground: oklch(0.9660 0.0068 145.5229);
  --primary: oklch(0.7189 0.0559 144.9655);
  --primary-foreground: oklch(0.2235 0.0049 145.4099);
  --secondary: oklch(0.6582 0.0400 352.2740);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.3614 0.0172 145.2076);
  --muted-foreground: oklch(0.7474 0.0216 145.3549);
  --accent: oklch(0.6670 0.0502 293.0787);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.4922 0.0921 20.9547);
  --border: oklch(0.3804 0.0170 145.2309);
  --input: oklch(0.3132 0.0134 145.2462);
  --ring: oklch(0.7189 0.0559 144.9655);
  --chart-1: oklch(0.7189 0.0559 144.9655);
  --chart-2: oklch(0.9068 0.0363 348.9730);
  --chart-3: oklch(0.9167 0.0250 301.0538);
  --chart-4: oklch(0.5523 0.0481 144.8895);
  --chart-5: oklch(0.5558 0.0398 320.1069);
  --sidebar: oklch(0.2235 0.0049 145.4099);
  --sidebar-foreground: oklch(0.9660 0.0068 145.5229);
  --sidebar-primary: oklch(0.7189 0.0559 144.9655);
  --sidebar-primary-foreground: oklch(0.2235 0.0049 145.4099);
  --sidebar-accent: oklch(0.3614 0.0172 145.2076);
  --sidebar-accent-foreground: oklch(0.9660 0.0068 145.5229);
  --sidebar-border: oklch(0.3804 0.0170 145.2309);
  --sidebar-ring: oklch(0.7189 0.0559 144.9655);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 1.5rem;
  --font-sans: Comic Sans MS, cursive, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Courier New, monospace;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --shadow-opacity: 1;
  --shadow-blur: 15px;
  --shadow-spread: 1px;
  --shadow-offset-x: 8px;
  --shadow-offset-y: 8px;
  --letter-spacing: 0.02em;
  --spacing: 0.25rem;
  --shadow-2xs: 8px 8px 15px 1px hsl(0 0% 0% / 0.50);
  --shadow-xs: 8px 8px 15px 1px hsl(0 0% 0% / 0.50);
  --shadow-sm: 8px 8px 15px 1px hsl(0 0% 0% / 1.00), 8px 1px 2px 0px hsl(0 0% 0% / 1.00);
  --shadow: 8px 8px 15px 1px hsl(0 0% 0% / 1.00), 8px 1px 2px 0px hsl(0 0% 0% / 1.00);
  --shadow-md: 8px 8px 15px 1px hsl(0 0% 0% / 1.00), 8px 2px 4px 0px hsl(0 0% 0% / 1.00);
  --shadow-lg: 8px 8px 15px 1px hsl(0 0% 0% / 1.00), 8px 4px 6px 0px hsl(0 0% 0% / 1.00);
  --shadow-xl: 8px 8px 15px 1px hsl(0 0% 0% / 1.00), 8px 8px 10px 0px hsl(0 0% 0% / 1.00);
  --shadow-2xl: 8px 8px 15px 1px hsl(0 0% 0% / 2.50);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}