@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Architects Daughter, cursive;
  --font-mono: monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --font-serif: Georgia, serif;
  --radius: 2rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 2rem;
  --background: oklch(0.9895 0.0090 78.2827);
  --foreground: oklch(0.4005 0.0340 298.5912);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.4005 0.0340 298.5912);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.4005 0.0340 298.5912);
  --primary: oklch(0.7395 0.1591 29.1989);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.7329 0.0895 299.9921);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9618 0.0202 295.1913);
  --muted-foreground: oklch(0.5830 0.0433 298.1253);
  --accent: oklch(0.8816 0.0626 26.9199);
  --accent-foreground: oklch(0.4005 0.0340 298.5912);
  --destructive: oklch(0.6730 0.2146 25.0397);
  --border: oklch(0.9128 0 0);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.7395 0.1591 29.1989);
  --chart-1: oklch(0.7395 0.1591 29.1989);
  --chart-2: oklch(0.7329 0.0895 299.9921);
  --chart-3: oklch(0.8816 0.0626 26.9199);
  --chart-4: oklch(0.6639 0.0716 302.9776);
  --chart-5: oklch(0.9137 0.0443 26.5844);
  --sidebar: oklch(0.9895 0.0090 78.2827);
  --sidebar-foreground: oklch(0.4005 0.0340 298.5912);
  --sidebar-primary: oklch(0.7395 0.1591 29.1989);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9618 0.0202 295.1913);
  --sidebar-accent-foreground: oklch(0.4005 0.0340 298.5912);
  --sidebar-border: oklch(0.9128 0 0);
  --sidebar-ring: oklch(0.7395 0.1591 29.1989);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: Architects Daughter, cursive;
  --font-serif: Georgia, serif;
  --font-mono: monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.12;
  --shadow-blur: 20px;
  --shadow-spread: -5px;
  --shadow-offset-x: 8px;
  --shadow-offset-y: 12px;
  --letter-spacing: 0.02em;
  --spacing: 0.25rem;
  --shadow-2xs: 8px 12px 20px -5px hsl(0 0% 0% / 0.06);
  --shadow-xs: 8px 12px 20px -5px hsl(0 0% 0% / 0.06);
  --shadow-sm: 8px 12px 20px -5px hsl(0 0% 0% / 0.12), 8px 1px 2px -6px hsl(0 0% 0% / 0.12);
  --shadow: 8px 12px 20px -5px hsl(0 0% 0% / 0.12), 8px 1px 2px -6px hsl(0 0% 0% / 0.12);
  --shadow-md: 8px 12px 20px -5px hsl(0 0% 0% / 0.12), 8px 2px 4px -6px hsl(0 0% 0% / 0.12);
  --shadow-lg: 8px 12px 20px -5px hsl(0 0% 0% / 0.12), 8px 4px 6px -6px hsl(0 0% 0% / 0.12);
  --shadow-xl: 8px 12px 20px -5px hsl(0 0% 0% / 0.12), 8px 8px 10px -6px hsl(0 0% 0% / 0.12);
  --shadow-2xl: 8px 12px 20px -5px hsl(0 0% 0% / 0.30);
  --tracking-normal: 0.03em;
}

.dark {
  --background: oklch(0.2125 0.0296 296.0338);
  --foreground: oklch(0.9645 0.0189 295.8660);
  --card: oklch(0.2558 0.0378 297.4532);
  --card-foreground: oklch(0.9645 0.0189 295.8660);
  --popover: oklch(0.2558 0.0378 297.4532);
  --popover-foreground: oklch(0.9645 0.0189 295.8660);
  --primary: oklch(0.7605 0.1428 27.5807);
  --primary-foreground: oklch(0.2125 0.0296 296.0338);
  --secondary: oklch(0.8112 0.1013 293.5712);
  --secondary-foreground: oklch(0.2125 0.0296 296.0338);
  --muted: oklch(0.2907 0.0437 295.0273);
  --muted-foreground: oklch(0.7562 0.0378 299.5398);
  --accent: oklch(0.7951 0.1180 27.6014);
  --accent-foreground: oklch(0.2125 0.0296 296.0338);
  --destructive: oklch(0.6909 0.1987 23.9078);
  --border: oklch(0.3400 0.0457 296.2522);
  --input: oklch(0.2558 0.0378 297.4532);
  --ring: oklch(0.7605 0.1428 27.5807);
  --chart-1: oklch(0.7605 0.1428 27.5807);
  --chart-2: oklch(0.8112 0.1013 293.5712);
  --chart-3: oklch(0.8341 0.0918 27.4210);
  --chart-4: oklch(0.7090 0.1592 293.5412);
  --chart-5: oklch(0.7951 0.1180 27.6014);
  --sidebar: oklch(0.2125 0.0296 296.0338);
  --sidebar-foreground: oklch(0.9645 0.0189 295.8660);
  --sidebar-primary: oklch(0.7605 0.1428 27.5807);
  --sidebar-primary-foreground: oklch(0.2125 0.0296 296.0338);
  --sidebar-accent: oklch(0.2907 0.0437 295.0273);
  --sidebar-accent-foreground: oklch(0.9645 0.0189 295.8660);
  --sidebar-border: oklch(0.3400 0.0457 296.2522);
  --sidebar-ring: oklch(0.7605 0.1428 27.5807);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 2rem;
  --font-sans: Architects Daughter, cursive;
  --font-serif: Georgia, serif;
  --font-mono: monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.4;
  --shadow-blur: 25px;
  --shadow-spread: -8px;
  --shadow-offset-x: 10px;
  --shadow-offset-y: 15px;
  --letter-spacing: 0.03em;
  --spacing: 0.25rem;
  --shadow-2xs: 10px 15px 25px -8px hsl(0 0% 0% / 0.20);
  --shadow-xs: 10px 15px 25px -8px hsl(0 0% 0% / 0.20);
  --shadow-sm: 10px 15px 25px -8px hsl(0 0% 0% / 0.40), 10px 1px 2px -9px hsl(0 0% 0% / 0.40);
  --shadow: 10px 15px 25px -8px hsl(0 0% 0% / 0.40), 10px 1px 2px -9px hsl(0 0% 0% / 0.40);
  --shadow-md: 10px 15px 25px -8px hsl(0 0% 0% / 0.40), 10px 2px 4px -9px hsl(0 0% 0% / 0.40);
  --shadow-lg: 10px 15px 25px -8px hsl(0 0% 0% / 0.40), 10px 4px 6px -9px hsl(0 0% 0% / 0.40);
  --shadow-xl: 10px 15px 25px -8px hsl(0 0% 0% / 0.40), 10px 8px 10px -9px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 10px 15px 25px -8px hsl(0 0% 0% / 1.00);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}